<!DOCTYPE html>
<html>
<head>
	<title>Esqueleto</title>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="container">
		<div id="header">
			<div id="logo">&nbsp;</div>
			<ul id="menu">
				<li class="menu-item">Submiss&otilde;es</li><li class="menu-item">Minha conta</li>
			</ul>
		</div>
		<div class="main">
			<div class="breadcrumb"><a href="#">Home</a> > <a href="#">Minhas submiss&otilde;es</a> > <a href="#">Nova submiss&atilde;o</a></div><br>
			<h1 class="pagetitle">Upload de arquivo</h1><br>
			<form action="#" method="get">
				Endere&ccedil;o: <input type="file" name="path" style="display: inline-block;"><br><br>
				<input type="submit" value="Submeter">
			</form>
		</div>
	</div>
</body>
</html>
