/* ----- CSS Reset ----- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----- End CSS Reset  ----- */

/* ----- Common ----- */
html,body { min-height:100%; }

body {
	background-color: #ACACAC;
	color: #FCFCFC;
}
.container {
	width: 960px;
	margin: 0 auto;
}
/* ----- End Common ----- */

/* ----- Header ----- */
#header {
	width: 960px;
	height: 100px;
	margin-top: 10px;
}
#logo {
	width: 300px;
	height: 100px;
	background-color: #BDBDBD;
	display: inline-block;
	float: left;
}
ul#menu {
	list-style: none;
	display: inline-block;
	color: #BDBDBD;
	float: right;
	max-width: 600px;
	overflow: hidden;
	height: 30px;
	margin-top: 70px;
	margin-right: 30px;
}
ul#menu li.menu-item {
	padding: 5px 10px 5px 10px;
	height: 20px; /* Total: 30px */
	max-width: 180px; /* Total: 200px */
	display: inline-block;
}
ul#menu li.menu-item:hover {
	background-color: #7D7D7D;
}
ul#menu li.menu-item:last-of-type {
	border: 0;
}
ul#menu li.menu-separator {
	width: 1px;
	background-color: #BDBDBD;
	display: inline-block;
	height: 30px;
	overflow: hidden;
	margin: 0 2px;
}
/* ----- End Header ----- */

/* ----- Main Common ----- */
.main {
	height: 100%;
	width: 900px;
	padding: 30px 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #707070;
	border-radius: 20px;
}

.faq{
	height: 900px;
	width: 900px;
	padding: 30px 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #707070;
	border-radius: 20px;
}


.breadcrumb {
	font-size: 10px;
	color: #BDBDBD;
}
.breadcrumb a, .breadcrumb a:visited {
	color: #BDBDBD;
}

.pagetitle {
	font-size: 30px;
	margin-bottom: 20px;
}

h2.faqquestion {
	font-size: 25px;
	color: #CEF4ED;
	margin-bottom: 5px;
	font-family: "Times New Roman", Times, serif;
}

p.faqanswer {
	font-size: 18px;
	color: #F7FFF1;
}

/* ----- End Main Common ----- */
