<html>
<head>
<title>me.ederign.selenium.upload_view_story</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: xml"><![CDATA[
<story path="me/ederign/selenium/upload_view_story.story" title="">
<scenario keyword="Scenario:" title="test engineer wants to upload file to system">
<step outcome="pending" keyword="PENDING">Given a file to be uploaded</step>
<step outcome="pending" keyword="PENDING">Given that the &apos;Browse&apos; button is clicked and /home/cc2012/ra139270/aoInfinitoEALEM is chosen</step>
<step outcome="pending" keyword="PENDING">Given that is a valid file</step>
<step outcome="pending" keyword="PENDING">When the &apos;Submeter&apos; button is clicked</step>
<step outcome="pending" keyword="PENDING">Then the file is uploaded</step>
<pendingMethod>@Given(&quot;that the &apos;Browse&apos; button is clicked and /home/cc2012/ra139270/aoInfinitoEALEM is chosen&quot;)
@Pending
public void givenThatTheBrowseButtonIsClickedAndhomecc2012ra139270aoInfinitoEALEMIsChosen() {
  // PENDING
}
</pendingMethod>
<pendingMethod>@Then(&quot;the file is uploaded&quot;)
@Pending
public void thenTheFileIsUploaded() {
  // PENDING
}
</pendingMethod>
</scenario>
</story>

]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
