<html>
<head>
<title>me.ederign.selenium.upload_view_story</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1></h1>
<div class="path">me/ederign/selenium/upload_view_story.story</div>
<div class="scenario">
<h2>Scenario: test engineer wants to upload file to system</h2>
<div class="step pending">Given a file to be uploaded <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">Given that the 'Browse' button is clicked and /home/cc2012/ra139270/aoInfinitoEALEM is chosen <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">Given that is a valid file <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">When the 'Submeter' button is clicked <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">Then the file is uploaded <span class="keyword pending">(PENDING)</span></div>
<div><pre class="pending">@Given(&quot;that the 'Browse' button is clicked and /home/cc2012/ra139270/aoInfinitoEALEM is chosen&quot;)
@Pending
public void givenThatTheBrowseButtonIsClickedAndhomecc2012ra139270aoInfinitoEALEMIsChosen() {
  // PENDING
}
</pre></div>
<div><pre class="pending">@Then(&quot;the file is uploaded&quot;)
@Pending
public void thenTheFileIsUploaded() {
  // PENDING
}
</pre></div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
